* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
}

:root {
  /* Police de base */
  --font-family: "Inter", sans-serif;

  /* Poids */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
